:root {
    /* overwrite Main Theme variables to suit your needs here. Below are some examples.
    --theme-main-contrasting-text-primary: var(--bs-dark) !important;
    --theme-main-dropdown-top: 110%;
    --bs-gray-900: #15151b !important;
    // --theme-main-contrasting-text-dark: var(--bs-primary) !important;
    --theme-main-navDdropdown-bg: var(--theme-main-nav-drawer-open-bg);
    --theme-main-contrasting-text-dark-alt: var(--bs-off-oranage) !important;
    --theme-main-contrasting-text-dark: var(--bs-off-oranage) !important;
    --theme-main-contrasting-text-gray-900: #c97ccd !important;
    --child-theme-main-arrow: currentColor; */
}
