:root {
    --theme-main-contrasting-text-primary: var(--bs-dark) !important;
    --theme-main-dropdown-top: 110%;
    --bs-gray-900: #15151b !important;
    // --theme-main-contrasting-text-dark: var(--bs-primary) !important;
    --theme-main-navDdropdown-bg: var(--theme-main-nav-drawer-open-bg);
    --theme-main-contrasting-text-dark-alt: var(--bs-off-oranage) !important;
    --theme-main-contrasting-text-dark: var(--bs-off-oranage) !important;
    --theme-main-contrasting-text-gray-900: #c97ccd !important;
    --child-theme-main-arrow: currentColor;
}

header .navbar {
    border-bottom: 1px solid rgba(var(--bs-dark-rgb), 0.1);

    .hamburger-inner {
        margin-top: 0;

        &::before {
            top: -11px;
        }

        &::after {
            bottom: -11px;
        }
    }

    .container .navbar-toggler {
        padding-bottom: 5px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-weight: 300;
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: calc(var(--bs-navbar-brand-padding-y) * 2.6);

        svg path {
            fill: var(--theme-main-nav-link-color);
        }
    }
}


.home-hero {
    position: relative;
    min-height: 60vh;

    @media screen and (min-height: 800px) and (min-width: 300px) and (orientation: portrait) {
        // height: 60vh;
    }

    .wp-block-group__inner-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    h1 {
        font-size: calc(3.965rem + 8.58vw);
        order: 1;
        margin: 5rem 0;
        line-height: 1.06;
    }

}

.the-details {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}

.top-feature.word-fumbler {
    order: 2;
    position: relative;

    &::after {
        border-bottom: 60px solid #028090;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        content: "";
        position: absolute;
        right: -2px;
        top: -9px;
    }

    @include media-breakpoint-up(dlg) {
        width: 345px;
    }
}

.options-positioning {
    .splide {
        min-height: 100vw;

        .splide__arrow {
            transition: color 0.167s linear 75ms;

            .fa-solid {
                margin-top: 10vw;
                font-size: 15vw;

                @include media-breakpoint-up(xl) {
                    margin-top: 4.2vw;
                    font-size: 9vw;
                }

                @include media-breakpoint-up(2xl) {
                    font-size: 4.2vw;
                }

            }

            &.splide__arrow--next {
                margin-right: calc(var(--theme-main-gutter-x) - 1.5rem);

                @include media-breakpoint-between(md, dlg) {
                    margin-right: calc(var(--theme-main-gutter-x) - 2rem);
                }

                @include media-breakpoint-up(xl) {
                    margin-right: calc(var(--theme-main-gutter-x) + 2rem);

                }
            }

            &.splide__arrow--prev .fa-solid {
                display: none;
            }
        }
    }
}

.btn-icon {
    .wp-block-button__link.wp-element-button {
        position: relative;
        padding-right: calc(var(--bs-btn-padding-x) + 15px);

        &:hover {
            .fa-solid {
                color: var(--bs-btn-bg);
            }
        }

        .fa-solid {
            position: absolute;
            right: 20px;
            top: calc(50% - 12px);
        }
    }

    &.has-regular-font-size {
        .wp-block-button__link.wp-element-button {
            .fa-solid {
                top: calc(50% - 10px);
            }
        }
    }

}

.wp-block-button__link.wp-element-button {
    --bs-btn-border-width: 2px;

    &:hover {
        --bs-btn-hover-bg: transparent !important;
        transition: 0.6s ease background-color, 0.6s ease color;
        --bs-btn-hover-color: var(--bs-body-color);
    }
}

.has-dark-background-color,
.has-gray-900-background-color {
    .wp-block-button__link.wp-element-button:hover {
        --bs-btn-hover-color: var(--bs-btn-bg) !important;
    }
}

h1 {
    &.display-1 {
        font-weight: 900;
    }

    &.display-2 {
        font-weight: 900;
    }
}

.display-1 {
    font-size: 16vw;
}

.display-2 {
    font-size: 9.2vw;
}

.animate [href="https://emojipedia.org/princess"] {
    display: inline-block;
    -webkit-animation: slow-heartbeat 2.5s ease-in-out infinite both;
    animation: slow-heartbeat 2.5s ease-in-out infinite both;
}

@include media-breakpoint-down(sm) {
    .wp-block-button.btn-icon {
        width: 100%;

        a.wp-block-button__link.wp-element-button {
            width: 100%;
        }
    }
}

@include media-breakpoint-up(sm) {
    .home-hero {
        position: relative;
    }

    .home-hero h1 {
        font-size: max(5.125rem, min(13.3333vw + 3rem, 28rem));
    }
}

@include media-breakpoint-up(md) {
    .about-me-section {
        margin-top: calc(-0.5rem - 20vh);
    }
}


@include media-breakpoint-up(dlg) {
    .home-hero h1 {
        margin-top: 9vh;
    }

    .about-me-section {
        margin-top: -28vw;
    }

    .top-feature.word-fumbler {
        top: 9vh;
        right: 0;
        position: absolute;
        order: 1;
        margin-top: 0px;
        //margin-top: calc(12vw + 2rem);
    }
}

@include media-breakpoint-up(xxl) {
    .home-hero h1 {
        order: 2;
        margin-bottom: auto;
    }

    .top-feature.word-fumbler {
        top: 10.2vh;
    }
}

@include media-breakpoint-up(2xl) {
    .about-me-section {
        margin-top: -35vw;
    }
}

@include media-breakpoint-up(4xl) {
    .top-feature.word-fumbler {
        top: 10vh;
    }
    .about-me-section {
        margin-top: -30vw;
    }
}


.offerings-section {
    &>div {
        position: relative;
        z-index: 2;

        svg {
            max-width: 350px;
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;

        .col-12.col-md-9.col-lg-7.col-xl-9.col-dlg-9 {
            padding-right: calc((var(--bs-gutter-x)*.5) + 5px);
            padding-left: calc((var(--bs-gutter-x)*.5) + 5px);

            .wp-block-buttons {
                margin-left: auto;
                margin-right: auto;
            }

            .wp-block-heading {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}


body:not(.offerings-inView) .mobile-phone.animate {
    animation: rotate-8-ccw 0.64s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.offerings-inView .mobile-phone,
.featured-work-inView .mobile-phone {
    animation: rotate-90-cw 0.64s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    margin-right: calc(0px - var(--theme-main-gutter));
    bottom: 20vh;
}

.featured-work-inView .mobile-phone {
    transform: rotate(-90deg);
}

.offerings-inView .mobile-phone .d-md-none.theme-main-video {
    display: block !important;
    position: absolute;
    top: -7vw;
    margin-left: 7vw;
    width: 18vw;
    height: 32vw;
    transform: rotate(-90deg);
}

.offerings-inView .mobile-phone .theme-main-video.d-none.d-md-block {
    display: none !important;
}

.featured-work {
    position: relative;
    z-index: 4;

    .splide__slide {
        img {
            border-radius: 20px;
        }

        .carousel-block-editor-content {
            animation: fade-out 0.17s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
            padding-top: 0.5vw;

            @include media-breakpoint-up(xl) {
                padding-top: 1vw;
            }
        }

        &.is-active .carousel-block-editor-content {
            animation: fade-in .17s cubic-bezier(.39, .575, .565, 1.000) both !important;
        }
    }

    .acf-block-component.acf-block-body.acf-block-preview .splide {
        .carousel-block-editor-content {
            animation: fade-in .17s cubic-bezier(.39, .575, .565, 1.000) both !important;
        }
    }
}


.mobile-phone {
    height: 48vw;
    margin-bottom: -6.8rem;
    margin-left: auto;
    margin-top: 40px;
    padding: 0;
    position: relative;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    background-size: 0;

    &.animate {
        &.fade-in {
            .fullscreen_media {
                -webkit-animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1.000) both;
                animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 1.000) both
            }
        }
    }

    &.animation-on {
        .fullscreen_media {
            opacity: var(--theme-main-start-opacity);
        }
    }

    &::before {
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 73vw;
        left: -10vw;
        position: absolute;
        top: -5vw;
        width: calc(100% + 24vw);
        z-index: 10;
    }

    @include media-breakpoint-up(smm) {
        height: 52vw;
    }

    @include media-breakpoint-up(sm) {
        height: 54vw;
    }

    @include media-breakpoint-up(md) {
        height: 18vw;
        margin-bottom: 20vh;
        margin-top: calc(-9.2vw - 5.4rem);
        position: sticky;
        right: 0;
        top: calc(50vh - 9vw);
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
        width: 32vw;
        z-index: 1;

        &::before {
            top: -2vw;
            left: -4vw;
            width: calc(100% + 9vw);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-right: calc(0px - var(--theme-main-gutter));
    }

    @include media-breakpoint-up(xxl) {
        margin-right: calc(0px - var(--theme-main-gutter));
    }

    @include media-breakpoint-up(3xl) {
        margin-bottom: 35vh;
    }
}

.big-list-item.is-in-view svg {
    animation: wobble-hor-bottom 0.8s both;
}