//To properly use this child theme with your custom bootstrap _variables.scss - leave this file as is. Ensure you installed theme-main on your enviroment or these dependencies might not work.
//Put all custom work in /scss/_custom.scss - feel free to branch off from there
// Put your custom bootstrap varaibles in /scss/_variables.css - you can use https://bootstrap.build/ to create the right varaibles.
html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	//font-smoothing: antialiased;
}
@import '../../theme-main/node_modules/bootstrap/scss/functions';
//@import '../../theme-main/assets/scss/variables';


@import 'scss/variables'; //your child theme variables


@import '../../theme-main/node_modules/bootstrap/scss/variables';
@import '../../theme-main/node_modules/bootstrap/scss/variables-dark';

$input-height: add($input-line-height, add($input-padding-y * 2, $input-height-border, false)) !default;

$link-hover-color: $link-color !default;
$close-font-size: $font-size-lg * 2 !default;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
@import '../../theme-main/node_modules/bootstrap/scss/maps';
@import '../../theme-main/node_modules/bootstrap/scss/mixins';
@import '../../theme-main/node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import '../../theme-main/node_modules/bootstrap/scss/utilities';
@import '../../theme-main/node_modules/bootstrap/scss/reboot';
@import '../../theme-main/node_modules/bootstrap/scss/type';
@import '../../theme-main/node_modules/bootstrap/scss/images';
@import '../../theme-main/node_modules/bootstrap/scss/containers';
@import '../../theme-main/node_modules/bootstrap/scss/grid';
@import '../../theme-main/node_modules/bootstrap/scss/tables';
@import '../../theme-main/node_modules/bootstrap/scss/forms';
@import '../../theme-main/node_modules/bootstrap/scss/buttons';
@import '../../theme-main/node_modules/bootstrap/scss/transitions';
@import '../../theme-main/node_modules/bootstrap/scss/dropdown';
@import '../../theme-main/node_modules/bootstrap/scss/button-group';
@import '../../theme-main/node_modules/bootstrap/scss/nav';
@import '../../theme-main/node_modules/bootstrap/scss/navbar';
@import '../../theme-main/node_modules/bootstrap/scss/card';
@import '../../theme-main/node_modules/bootstrap/scss/accordion';
@import '../../theme-main/node_modules/bootstrap/scss/breadcrumb';
@import '../../theme-main/node_modules/bootstrap/scss/pagination';
@import '../../theme-main/node_modules/bootstrap/scss/badge';
@import '../../theme-main/node_modules/bootstrap/scss/alert';
@import '../../theme-main/node_modules/bootstrap/scss/progress';
@import '../../theme-main/node_modules/bootstrap/scss/list-group';
@import '../../theme-main/node_modules/bootstrap/scss/close';
@import '../../theme-main/node_modules/bootstrap/scss/toasts';
@import '../../theme-main/node_modules/bootstrap/scss/modal';
@import '../../theme-main/node_modules/bootstrap/scss/tooltip';
@import '../../theme-main/node_modules/bootstrap/scss/popover';
@import '../../theme-main/node_modules/bootstrap/scss/carousel';
@import '../../theme-main/node_modules/bootstrap/scss/spinners';
@import '../../theme-main/node_modules/bootstrap/scss/offcanvas';
@import '../../theme-main/node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../../theme-main/node_modules/bootstrap/scss/utilities/api';

@import '../../theme-main/child-theme/child-theme';


@import 'scss/custom'; //your child theme styles